*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #151515;
}
/*PRODUCTOS*/
#contenedorPrincipal{
    width: 100%;
    /*background: url(../imagen/race.jpg);
    background-size: 100% 100%;*/
}
.contenedorGeneral{
    width: 100%;
    flex-flow: row wrap;/*IMPORTANTE: hace caer a los que no caben abajo, ponerlo en el padre*/
    min-height: 500px;
    background-color: #151515;
}
#contenedor-productos{
    width: 95%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}

.producto{
    margin: 20px 5px;
    border: 1px solid black;
    width: 24%; /*hace todos los contenedores de la misma altura*/
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    color: white;
    justify-content: flex-start;
    transition: 1s;
    padding: 5px;
}
.producto:hover{
    opacity: .9;
    cursor: pointer;
}
.producto h4:hover,.producto h3:hover{
    opacity: .9
}
.producto>a{
    width: 100%;
}
.producto>a>img{
    width: 100%;
}
.producto a img:hover{
    opacity: 0.9
}
.producto>h4,p,h3{
    margin-top: 5px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

