#contenedor_prod_individual{
	width: 100%;
	border: 1px solid black;
	display: flex;
}
.imagen_indi{
	width: 50%;
    height: auto;
}
.imagen_indi img{
    width: 100%;
    height: 100%;
}
.contenido_indi{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}
.contenido_indi p{
	text-align: justify;
}
.contenido_indi h2{
	font-weight: bolder;
	margin: 5px auto;
}
